@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Rozha+One&display=swap');


body
{
    background-color: ;
}
*
{
    box-sizing: border-box;
    margin: 0;
    background-color: #dddddd;
}

.menu-nav{ 
    box-shadow: 5px 10px 20px 5px #fccbcb;
    /* position: relative; */
    font-family: 'Marcellus SC', serif;
    font-size: 20px;
    padding: 10px 0px;
   
} 

.links-navegacion {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
}

.links-navegacion li {
    margin: 20px;
}
.contacto{
    
    border-radius: 100px ;
    background-color: #df5e88;
    padding: 0 25px;
    margin-bottom: 20px;
    text-decoration: none;
   

}
.carolina
{

    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10%;
    /* display: flex;
    padding: 100px 40px 200px;
    justify-content: center; */
  
}

.contenedor{
    width: 100%;
    /* max-width: 500px;*/
    /* display: flex;
     flex-direction:row ; 
    align-items: center;
    text-align: left;
    justify-content: space-between; 
     flex-direction:row ; 
}  */

text-align: left;
align-content: center;
padding: 110px 40px 130px;


}
.about-img
{
    max-width: 500px;
}

  .item {
    max-width: 500px;
    display: block;
    width: 100%;
    padding-left: 10%;
    margin: auto;
    flex-direction: row;
}
        
.saludo
{
    /* color: black;
    font-size: 30px;
    font-family: 'Marcellus SC', serif;
     margin-bottom: 5px;
    margin-top: 100px;  */
}

.nombre{
    color: #ff427f;
    font-size: 60px;
    /* margin-top: 5px;
    margin-bottom: 30px; */
    font-family: 'Rozha One', serif;
}
.sobre-mi
{
      color: #d9adad;
    font-size: 21px;
    margin-bottom: 60px;
    font-family: 'Marcellus SC', serif;
    padding-top: 10px;
    padding-bottom: 50px;
}

a
{
    border-bottom: #ff427f;
    background-color: #ff427f;
    border-radius: 600px;
    margin-bottom: 10px;
    color: #FAFAFA;
    width: auto;
    padding: 10px 30px;
    text-decoration: none;
    font-family: 'Marcellus SC', serif;
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 180px;
    text-decoration: none;
}
a:visited{
    color: #838383 ;
}
a:active{
    color: violet;
}
a:hover{

color: blue;
}
p::selection{
    background-color: #fccbcb;
}

h1::selection{
    background-color: #fccbcb;
}