@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Rozha+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
*
{
    box-sizing: border-box;
    margin: 0;
}
/* comienzo nav */
.menu-nav{ 
    box-shadow: 20px 10px 20px 20px #fccbcb;
    font-family: 'Marcellus SC', serif;
    font-size: 20px;
    padding: 10px 0px;
    background-color: #FAFAFA;
    align-items: center;
   margin-top: 10px;
}

.links-navegacion {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    background-color: #fafafa;
}

.links-navegacion li {
    margin: 20px;
    background-color: #FAFAFA;
}
.contacto{
    
    border-radius: 100px ;
    background-color: #1d0f13;
    
   
    text-decoration: none;
    
   

}
/* FIN NAVEGACIÓN */
/* COMIENZO PRESENTACION */

.seccion carolina
{

    justify-content: center;
    margin-top: 10%;
     display: flex;  
     padding: 110px 40px 130px;
           
  
}

.contenedor{
   
     display: flex;

     padding: 146px 28px 0px 28px;

}
.columna-izq {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto ;
}

    
.columna-imagen
{ 
        display: flex;
        width: 100%;
        height: auto;

}
.about-img
{
    max-width: 500px;
}

.imagen-caro {
   
    display: flex;
    width: 100%;
    height: auto;
}


        
.saludo{
  color: #f6ab6c ;
  font-size: 39px;
  font-family: 'Marcellus SC', serif;
}

.nombre{
    color: #8fcfd1;
    font-size: 86px;
   
    font-family: 'Sofia', cursive;
}
.sobre-mi
{
      color: #f6ab6c;
    font-size: 21px;
    margin-bottom: 60px;
    font-family: 'Marcellus SC', serif;
    padding-top: 10px;

}

.estilo-boton
{
 
        
        background-color: #ff427f;
        border-radius: 600px;
        color: #8fcfd1;;
        width: auto;
        padding: 10px 30px;
        text-decoration: none;
        font-family: 'Marcellus SC', serif;
        display: flex;
        justify-content: center;
        font-weight: bold;

        width: 180px;
    
}
a:visited{
    color: #ff427f ;
}
a:active{
    color: #f6efa6;
}
a:hover{

color: #8fcfd1;
}
p::selection{
    background-color: #fccbcb;
}

h1::selection{
    background-color: #fccbcb;
}




.principal {
    box-sizing: border-box;
    display: flex ;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
 
  .caja {
    color: #2e2e31;
    height: 250px;
    padding: 40px 20px;
    background-color: #FAFAFA;
    border: 1px solid #dddfe5;
    border-radius: 31px;
    width: 260px;
    margin: 10px;
    
    
  }

/* FIN PRESENTACION */

/* 
COMIENZO MIS CONOCIMIENTOS */

.contenedor-abuelo{
    display: flex;
    justify-content: center;
    padding-block-end: 100px;
   
}

    

.contenedor-caja{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 700px;

}

.contenido-caja{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
    background-color: #fafafa;
    padding-top: 10px
}

.titulo
{
    font-family: 'Rozha One', serif;
    font-size: 67px;
    color: #ff427f;
    text-align: center;
    margin: 50px 50px 50px 50px;
}

.lorem
{
    font-family: 'Marcellus SC', serif;
    color: #d9adad;
    font-size: 35px;
    text-align: center;  
      margin-bottom: 100px;

}
.titulo-img
{
 
    text-align: center;
    font-family: 'Marcellus SC', serif;
    color: #8fcfd1;
    font-weight: bold;

    

}
.estilo-icono {
    font-size: 130px;
   
   
}



/* FIN DE MIS CONOCIMIENTOS  */

/* COMIENZO DE FRASE  */


.contenedor-frase{
display: flex;
justify-content: center;
text-align:center;
}
.frase{
    background-color: #8fcfd1;
    padding: 110px 40px 130px;
}

.comillas{
 font-size: 226px;
 color: white;
}

.contenido{
font-size: 30px;

}

.autor{
    font-size: 37px;
}

/* FIN DE FRASE  */
/* COMIENZO DE PROYECTOS */

.contenedor-abuelo-proyectos{
 display: flex;
 justify-content: center;
}
.contenedor-padre-proyectos {
   
display: flex;
justify-content: center;
flex-wrap: wrap;
width: 700px;
  
}
 /* NO SE SI ESTA BIEN RESUELTO COMO CENTRE LAS TARJETAS  */
.tarjeta-proyectos
{

        width: 200px;
        height: 200px;
        margin: 16px;
        border: 1px solid transparent;
      
       
         box-shadow: 4px 4px 7px 4px #f6efa6;
}

.imagen-proyectos
{
    
    display: flex;
    width: 100%;
    height: auto;
}


.botones-proyectos
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Marcellus SC', serif;
}


.boton.estilo-diferente
{

    background-color: #f6efa6;
    
    border-radius: 60px;
}

.boton {
    background-color: transparent;
    font-size: 17px;
    padding : 10px 31px 10px 31px;
    margin: 25px;
    color: black ;
    border: 0;
}

.titulo-tarjeta-proyecto {

    color: black;
    font-size: 20px;
    text-align: center;
    align-content: center;
    font-family: 'Marcellus SC', serif;
}


/* FIN DE PROYECTOS */


/* COMIENZO DE MODO RESPONSIVO */

footer{
   
        display: flex;
        flex-direction: column;
      
        align-items: center;
        padding: 0px 60px 100px 0px;
        background-color: #8fcfd1;
       
}

.ul-nav {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    margin-top: 50px;

}
.footer-nav-li
{
    margin: 14px 19px 51px 23px;
}

.footer-link
{
    text-decoration: none;
        font-size: 20px;
        font-family: 'Marcellus SC', serif;
}

.footer-redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
}

.redes{
    margin: 14px 19px 51px 23px;
    font-weight: bold;

}

.footer-final{
    display: flex;
    justify-content: end;
    background-color: greenyellow;
}

.fin-footer{
    text-align: end;
}






@media(max-width : 600px){


    .contenedor
    {
        display: flex;
        flex-direction: column;
    }

}